{% extends 'base.html'%}
{% block conteudo%}
  <h1>Notas:</h1>
  <hr>
  {%for registro in registros%}
    <details>
      <summary>{{registro['aluno']}}</summary>
      <span>{{registro.nota}}</span>
    </details>
  {%endfor%}
  <hr>
  <form
    action="{{url_for('about')}}"
    method="POST"
    style="margin-top: 25px;margin-left: 25px;"
  >
    <input type="text" name="aluno" placeholder="Nome do aluno" required>
    <input type="text" name="nota" placeholder="Nota do aluno" required>
    <button>Adicionar</button>
  </form>
{% endblock conteudo%}

